@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: white;
}
